<img class="logo" src="../assets/img/front-test-logo.png">

<ion-content padding class="login">
  <ion-title class="titleEntrar">Entrar</ion-title>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item class="ion-margin-top" lines="nome">
      <ion-label position="floating"></ion-label>
      <ion-input ngModel type="email" name="email" placeholder="E-mail"></ion-input>
    </ion-item>
  
    <ion-item class="ion-margin-top">
      <ion-label position="floating"></ion-label>
      <ion-input  class="logonEntrar" ngModel type="password" name="password" placeholder=" Senha">
        <ion-icon class="eye" name="eye"></ion-icon>
      </ion-input>
    </ion-item>
  
    <p class="EsqueceuSenha" text-right>ESQUECEU A SENHA?</p>
  
    <!-- <ion-button class="botaoEntrar" type="submit"  color="tertiary" shape="round" expand="block" [routerLink]="['/home']"> Entrar</ion-button> -->
   <ion-button class="botaoEntrar" type="submit"  color="tertiary" expand="block" shape="round" href="#home" [routerLink]="['/home']"> Entrar</ion-button>
                
  </form>
  
  <p class="NaoTemConta" href="#cadastro" [routerLink]="['/cadastro']">Não tem uma conta? Cadastre-se</p>
            
 
  <!-- Craindo Modal https://www.youtube.com/watch?v=Ffc3WqADsmc  -->

</ion-content>

