//Import Font
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,700&display=swap');

//Global
*{
  font-family: 'Mukta', sans-serif;
}

//-----------------------------------------------------------------------------------------------------------------------------------//


//------------------------------------------------------------------------------------------------------------------------------------//

.botaoEntrar {
  top: 427px;
  left: 499px;
  width: 100%;
  height: 60px;
  background: #7626FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 39px #867FF67A;
  border-radius: 36px;
  opacity: 1;
}
.NaoTemConta{
  padding: 5%;
  text-align: center;
  font: Regular 16px/27px Mukta;
  letter-spacing: -0.11px;
  color: #0077C5;
  opacity: 1;
}